{% extends 'base.html' %}
{% block content %}

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <!-- <h2>Department</h2> -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Course</th>
          </tr>
        </thead>
        <tbody>
          {% for teacher in teachers %}
            <tr>
              <td>{{ teacher.user }}</td>
              <td>{{ teacher.course }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}